<section class="hero is-medium has-text-centered"> 
  @Html.Partial("_header")  
</section>

<hr class="is-marginless">

<section class="section">
  <div class="container">
    <h3 class="title is-2">
      <span class="icon is-medium">
          <i class="fa fa-th-large"></i>
        </span>
        The Jansen/Cabrita<strong> family</strong>
    </h3>
    <h4 class="subtitle is-4">A Dutch - Portuguese collaboration</h4>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-morningsky">
              <p class="title">Where</p>
              <p class="subtitle">                
                We live in Holland in the city of Delft.
              </p>
              <figure class="image is-4by4">                
                <img src="@Context.GetLink("/img/delft.jpg")">
              </figure>
            </article>
            <article class="tile is-child notification is-honey">
              <p class="title">What</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-cerulean">
              <p class="title">Who</p>              
              <div class="content">
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-morningsky">
            <p class="title">Why</p>            
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-mist">
          <p class="title">When</p>          
        </article>
      </div>
    </div>
  </div>
</section>


