<div class="hero-head notification is-honey">
  <div class="container">
    <nav class="nav no-box-shadow">
      <div class="nav-left">
        <a class="nav-item is-brand" href="@Context.GetLink("/")">
          <div class="brand">Hipsville</div> 
        </a>
      </div> 

      <span id="nav-toggle" class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>  
    </nav> 
  </div>
</div>

